@page "/reseptit"

@inject HttpClient Http
@inject NavigationManager NavManager

<h3>Reseptilista</h3>

@if (reseptit == null)
{
    <p>Ladataan reseptejä...</p>
}
else if (reseptit.Count == 0)
{
    <p>Ei julkisia reseptejä löytynyt.</p>
}
else
{
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nimi</th>
                <th>Tekijä ID</th>
                <th>Ainesosat</th>
                <th>Valmistusohje</th>
                <th>Avainsanat</th>
                <th>Kuva</th>
                <th>Toiminnot</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var resepti in reseptit)
            {
                <tr>
                    <td>@resepti.Id</td>
                    <td>@resepti.Nimi</td>
                    <td>@resepti.TekijaId</td>
                    <td>@string.Join(", ", resepti.Ainesosat.Select(a => a.Ainesosa))</td>
                    <td>@resepti.Valmistuskuvaus</td>
                    <td>@string.Join(", ", resepti.Avainsanat))</td>
                    <td>
                        @if (!string.IsNullOrWhiteSpace(resepti.Kuva1))
                        {
                            <img src="data:image/png;base64,@resepti.Kuva1" width="60" height="60" />
                        }
                        else
                        {
                            <span>Ei kuvaa</span>
                        }
                    </td>
                    <td>
                        <button @onclick="() => MuokkaaResepti(resepti.Id)">Muokkaa</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    public List<ReseptiDto>? reseptit { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
        

            List<ReseptiDto>? lista = await Http.GetFromJsonAsync<List<ReseptiDto>>("Resepti");
            reseptit = lista.Where(r => r.Katseluoikeus == "julkinen").ToList();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Virhe haettaessa reseptejä: {ex.Message}");
            reseptit = new();
        }
    }

    private void MuokkaaResepti(int reseptiId)
    {
        NavManager.NavigateTo($"/resepti/muokkaa/{reseptiId}");
    }
}
